.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    padding: 11px 60px;
    border-radius: 10px;
    font-weight: 600;
  }
  
  .btn-blue {
    background-color: #4BB1FB;
    color: #f7f7f7;
    border: none;
    cursor: pointer;
  }
  
  .btn-opaque {
    background-color: #677681;
    color: #f7f7f7;
    border: none;
  }
  
  .btn-white{
    background: #FFFFFF;
    border-radius: 10px;
    color: #1351B4;
    cursor: pointer;
    border: 1.5px solid #1351B4;
  }

  .btn-white:hover {
    background: #1351B4;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1.5px solid #1351B4;
  }

  .btn-menu{
    height: 50px;
    width: 250px;
  }


.btn-paginacao ul{
    display: flex;
    flex-direction:row;
}
.btn-paginacao li{
    margin: 10px;
    padding: 0;
    background-color:#FFF;
    color: #1351B4;
    cursor: pointer;
    border-radius: 8px;
    border: 1.5px solid #1351B4;
}
.btn-paginacao a{
  padding: 15px;
}

.btn-paginacao li:hover{
    margin: 10px;
    background: #1351B4;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

