.detalhes-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #FFF;
    width: 800px;
    padding: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1.5px #1351B4;

  }
  .detalhes-card button{
    margin: 5px;
  }
  
  .detalhes-card {
    margin-bottom: 10px;
  }
  
  .info-item {
    margin-bottom: 5px;
  }
  
  .info-item strong {
    margin-right: 5px;
    color: #1351B4;
    text-decoration: underline;

  }
  .info-item span {
    font-weight: 500;
    color: #474d5a;
    margin-right: 5px;
  }
