.detalhes-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #FFF;
    width: 800px;
    padding: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    border: solid 2px #a1bef0;

  }
  .detalhes-card button{
    margin: 5px;
  }
  
  .detalhes-card {
    margin-bottom: 10px;
  }
  
  .info-item {
    margin-bottom: 5px;
  }
  
  .info-item strong {
    margin-right: 5px;
    color: #4286f5;

  }
  .info-item span {
    font-weight: 400;
    color: #474d5a;
    margin-right: 5px;
  }
